@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    overscroll-behavior: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

#container {
    width: 100vw;
    height: 100vh;
}

.menu {
    position: absolute;
    top: calc(5.5vh + 0.5rem);
    right: calc(5.5vh + 0.5rem);
    z-index: 300;
    cursor: pointer;
    width: 30px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-line {
    height: 2px;
    background-color: white;
    transition: all 1s ease;
    cursor: pointer;
}

.logo {
    position: absolute;
    top: calc(5.5vh + 0.5rem);
    left: calc(5.5vh + 0.5rem);
    z-index: 300;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

